strong {
    color: rgb(255, 115, 115);
}

li span {
    color: #E17100;
}

i {
    color: #AAEBFF;
}

i strong {
    color: #FF5E5C;
}

i.bi {
    color: white;
}

.activated-part {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.page-link, .page-link i {
    color: #3B74FF;
}

.page-link:hover, .page-link:hover i {
    color: #1648C5;
}

.guide-content .edit-button {
    top: 20%;
    display: none;
}

.guide-content:hover .edit-button {
    display: inline-block;
}

.edit-button:hover i, .add-chapter-button:hover i {
    color: rgb(139, 139, 139);
}

.edit-content:hover {
    cursor: pointer;
    border: 1 solid red;
}