.vertical-ads {
    display: none;
}

@media(min-width: 992px) {
    .vertical-ads {
        display: inline-block;
        width: 240px;
        height: 800px;
    }
}

.article-ads {
    display: block;
    text-align: center;
}

ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
}