.vertical-ads { 
    display: none;
}

@media(min-width: 992px) { 
    .vertical-ads { 
        display: block;
        width: 240px; 
        height: 500px; 
    } 
}

@media(min-width: 1200px) { 
    .vertical-ads { 
        display: block;
        width: 330px; 
        height: 500px; 
    } 
}

.horizontal-ads {
    display: inline-block;
    width: 430px;
    height: 50px;
}