.gidmi-ads { 
    width: 320px; 
    height: 100px; 
}

@media(min-width: 500px) { 
    .gidmi-ads { 
        width: 468px; 
        height: 60px; 
    } 
}

@media(min-width: 800px) { 
    .gidmi-ads { 
        width: 728px; height: 90px; 
    } 
}